.contact{
  @include span-columns(12);
  margin-bottom: 2rem;
  font-style: normal;
  line-height: 1.5;
  @include media($small-screen-up){
    @include span-columns(4);
    @include shift(1)
  }
  @include media($medium-screen-up){
    @include span-columns(5);
    @include shift(1)
  }
}

.contact__name{
  margin-bottom: 0.8rem;
  text-align: left;
}

.contact__line{
  margin-bottom: 0;
}
