.contact{
  @include span-columns(12);
  margin-bottom: 2em;
}

.contact__phone, .contact__mail{
  display: block;
}
.contact__line1, .contact__line2{
  margin-bottom: 0;
  line-height: 1.25;
  font-weight: 400;
  font-style: normal;
}
.contact__line2{
  margin-bottom: 0.5em;
}