#logo {
  height: 3.5rem;
  vertical-align: text-top;
}
.header__wrapper{
  background-color: $header-background;
  border-bottom: 0.5em solid $header-border;
  @include clearfix();
  @include omega();
}
.header{
  @include outer-container();
  @include pad(0 1rem);
}
.sticky{
  left: 0;
  right: 0;
}
.header__title {
  display: inline-block;
  vertical-align: top;
  width: 1em;
  margin-left: 0.5em;
  margin-bottom: 0;
}
.header__nav{
  float: right;
}
.header__nav-item{
  display: inline-block;
  margin-right: 0.5em;
  &:last-of-type{
    margin-right: 0;
  }
  > a {
    display: inline-block;
    height: 3em;
    line-height: 1.5;
    padding: 1rem 0.25em;
    font-size: 1.2rem;
  }
  .active{
    background-color: lightgray;
    border-top: $action-highlighted 2px solid;
    font-weight: 600;
    color: $action-highlighted;
  }
}
[style*="position: static"] [href="#home"]{
  background-color: lightgray !important;
  font-weight: 600;
  border-top: $action-highlighted 2px solid;
  color: $action-highlighted;
}

[style*="position: fixed"] + #home {
  padding-top: 4rem;
}

@include media($medium-screen-up){
  .header__nav-item{
    margin-right: 1em;
  }
  .header__title{
    margin-top: 0.25em;
  }
}