.section{
  @include outer-container();
  @include clearfix();
  @include pad(2rem 1rem);
  border-bottom: 1px solid #EFEFEF;
  min-height: 100vh;
  position: relative;
  @include media($small-screen-up) {
    min-height: calc(100vh - 3.5rem);
  }
  @include media($medium-screen-up){
    padding-left: 0;
    padding-right: 0;
  }
}

#home {
  @include pad(0);
  min-height: 100vh;
  max-width: none;
  margin-left: 0;
  margin-right: 0;
}

#main, body, html{
  min-width: 24rem;
}