.section{
  @include outer-container();
  @include clearfix();
  @include pad(2rem 1rem);
  border-bottom: 1px solid #EFEFEF;
  @include media($medium-screen-up){
    padding-left: 0;
    padding-right: 0;
  }
}

#home {
  @include pad(0);
  min-height: calc(100vh - 49px);
}

#glide {
  margin-top: calc((100vh - 49px - 900px) / 2);
}