section#about-us.scrollto.section
  .profile
    .profile__image
      img(src="assets/dileep.jpg")
    .profile__content
      h1.profile__name Dileep Raman, MD
      h2.profile__qualification Board Certification: Internal Medicine, Pulmonary, Critical care, and Sleep Medicine.
      .profile__bio
        p
          | Dr. Raman graduated from the Government Medical College Thrissur, India, where he was a distinguished gold medal winner for academic excellence. He completed his internship and residency in Internal medicine at Texas Tech University, USA, where he served as Chief Medical Resident. His Pulmonary, Critical care medicine and Sleep medicine fellowships were completed at the Cleveland Clinic Foundation, USA, where he was elected Chief fellow.
        p
          | His focus is on application information technology to improve quality of care in remote and under-served areas and to aid in teaching and academic activities utilising critical care networks.

  .profile
    .profile__image
      img(src="assets/dhruv.jpg")
    .profile__content
      h1.profile__name Dhruv Joshi, MD
      h2.profile__qualification Board Certification: Internal Medicine, Pulmonary, and Critical care.
      .profile__bio
        p
          | Dr. Joshi graduated from St John’s Medical College, Bangalore, India, following which he moved to the USA where he completed his training in Internal Medicine. This was followed by a fellowship in Pulmonary and Critical Care at the Cleveland Clinic Foundation, USA. During residency and fellowship Dr. Joshi was involved in numerous projects involving quality improvement, patient outcomes and optimising resource utilisation.
        p
          | He is a member of the Healthcare Information and Management Systems Society and the American Telemedicine Association. He moved to Bangalore, India in 2015 and is actively working on means of adoption of technology such as telemedicine, with a focus on TeleICUs, to improve patient outcomes.

