section#contact.scrollto.section
  h1.center.alpha.title Talk to us
  address.contact
    h1.title.gamma.contact__name Dileep Raman MD
    h2.sub_title.delta Critical Care, Pulmonary Medicine & Sleep Medicine
    p.contact__line 7, Bellary Road, Ganganagar
    p.contact__line Bangalore - 560032
    p.contact__line
      a.contact__phone(href="tel:+919567385277") +91 9567385277&nbsp;
    p.contact__line
      a.contact__main(href="mailto:dileep.raman@cloudphysician.net") dileep.raman@cloudphysician.net&nbsp;

  address.contact
    h1.title.gamma.contact__name Dhruv Joshi MD
    h1.sub_title.delta Pulmonary Medicine & Critical Care
    p.contact__line 7, Bellary Road, Ganganagar
    p.contact__line Bangalore - 560032
    p.contact__line
      a.contact__phone(href="tel:+919844136320") +91 9844136320&nbsp;
    p.contact__line
      a.contact__main(href="mailto:dhruv.joshi@cloudphysician.net") dhruv.joshi@cloudphysician.net&nbsp;







