section#home.scrollto.section
  #glide.glide
    .glide__wrapper
      ul.glide__track
        li.glide__slide.glide__slide--1
          .glide__text Enhance the delivery of critical care services via adoption of tele-ICUs
        li.glide__slide.glide__slide--2
          .glide__text Improve patient satisfaction and operational efficiency of hospital ICUs
        li.glide__slide.glide__slide--3
          .glide__text Use technology to provide healthcare services to areas that lack high quality services
    .glide__bullets