section#home.scrollto.section
  #glide.glide
    .glide__wrapper
      ul.glide__track
        li.glide__slide
          img(src='https://unsplash.it/1088/900/?random')
          .glide__text Enhance the delivery and quality of critical care services via adoption of tele-ICUs
        li.glide__slide
          img(src='./assets/technology.jpeg')
          .glide__text Use technology to provide healthcare services to areas and populations that lack high quality basic and specialist services
        li.glide__slide
          img(src='http://placehold.it/1088x900')
          .glide__text Imporve patient satisfation and operational efficiency of hospital ICUs
    .glide__bullets